@model App.TFinal.Models.Pago


@using (Ajax.BeginForm("Create", new
{
    Controller = "Pago"
},
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "modal-body",
        OnSuccess = "pelicula.success('create');"
    },
    htmlAttributes: new
    {
        id = "createForm"
    }
    ))

{
    @Html.Partial("_List2")

    @*<div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Categorías</h6>
        </div>
        <div class="card-body" id="categoriaList">
            @Html.Partial("_List")
        </div>
    </div>*@
   
}
<script src="~/App_JS/lista.js" type="text/javascript"></script>
