<div>
    <label>Resumen de Entrada:</label>
    
    
    <div>
        <input type="radio" class="btn-check" name="options" id="hora" value="si" checked onchange="lista.searchByFilter2()">


        <label>Pelicula:</label>
        <input id="cantidad" type="text" class="form-control" placeholder="Cantidad" />
    </div>

    <div>
        <label>Cantidad de Entradas:</label>
        <input id="cantidad" type="text" class="form-control" placeholder="Cantidad" />
    </div>
</div>
